<%= form_for @classroom_discipline, :url => new_classroom_discipline_path , remote: true do |f| %>
<tr>
  <td>
    <%= f.collection_select :discipline_id, Discipline.all, :id, :name,
        :include_blank => true %>
  </td>
  <td>
    <%= f.collection_select :teacher_id, Teacher.all, :id, :name,
        :include_blank => true %>
  </td>
  <td>
    <%= f.submit nil, :class => 'btn btn-primary' %>
  </td>
</tr>
<% end %>